// // .homepage {
// //   display: flex;
// //   justify-content: center;
// //   height: 100vh;
// //   align-items: center;
// //   .hero-section {
// //     .hero-img {
// //       width: 100%;
// //       max-width: 400px;
// //       height: auto;
// //     }
// //   }
// // }

// .hero {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   height: 80vh;
// }

// .hero-image {
//   width: 50%;
//   background-size: cover;
//   background-position: center;
// }

// .hero-text {
//   width: 50%;
//   padding: 100px;
//   p {
//     font-size: 1.5rem;
//     line-height: 2rem;
//   }
// }

// .hero-text h1 {
//   font-size: 48px;
//   margin-bottom: 30px;
// }

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}

.hero__heading {
  display: flex;
  flex-direction: column;
}

.hero__heading h1 {
  font-size: 3em;
  margin: 0px;
}

.hero__heading p {
  font-size: 1.3em;
  margin: 10px 0px;
  max-width: 600px;
  /* font-weight: lighter; */
  opacity: 0.7;
}

.hero__image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 1025px) {
  .hero__heading {
    margin: 30px;
  }

  .hero__heading h1 {
    font-size: 2em;
    text-align: center;
  }

  .hero__heading p {
    font-size: 1em;
    text-align: center;
  }
}
